
<%= render 'shared/header' %>

<h1>Groups#new</h1>




<%= form_for @group do |f| %>


    <%= f.label :グループネーム %><br>
    <%= f.text_field :name %><br>


    <%= f.label :アイコン %><br>
    <%= f.file_field :icon %><br>



    <%= f.submit "登録する" %>


<% end %>





<%= render 'shared/footer' %>
